/* Primary Button */
$btn-bg-color-primary: #4681f4;
$btn-bg-color-primary-light: #edf3ff;
$btn-bg-color-primary-hover: #3272f3;
/* Info Button */
$btn-bg-color-info: #55c2da;
$btn-bg-color-info-light: #e5fafe;
$btn-bg-color-info-hover: #34b8d6;
/* Link Button */
$btn-bg-color-link: #5783db;
$btn-bg-color-link-light: #d8e5ff;
$btn-bg-color-link-hover: #4175dc;
/* Success Button */
$btn-bg-color-success: #5adbb5;
$btn-bg-color-success-light: #dbfdf3;
$btn-bg-color-success-hover: #3dd8aa;
/* Warning Button */
$btn-bg-color-warning: #ffbd03;
$btn-bg-color-warning-light: #fff3d3;
$btn-bg-color-warning-hover: #eeaf01;
/* Danger Button */
$btn-bg-color-danger: #dd7973;
$btn-bg-color-danger-light: #ffdcda;
$btn-bg-color-danger-hover: #db5851;
/* Secondary Button */
$btn-bg-color-secondary: #e9e9e9;
$btn-bg-color-secondary-hover: #e3e3e3;
/* White Button */
$btn-bg-color-white: #ffffff;
$btn-bg-color-white-hover: #f4f4f4;
/* Dark Button */
$btn-bg-color-dark: #181818;
$btn-bg-color-dark-light: #f2f2f2;
$btn-bg-color-dark-hover: #595959;

/* Defaults */
$btn-font-color-white: #fff;
$btn-font-color-dark: #333333;

/* Button Font Sizes */
$btn-font-size-small: 14px;
$btn-font-size-default: 16px;
$btn-font-size-medium: 18px;
$btn-font-size-large: 20px;
/* Button Padding Sizes */
$btn-padding-size-small: 6px 12px;
$btn-padding-size-default: 8px 16px;
$btn-padding-size-medium: 10px 20px;
$btn-padding-size-large: 12px 24px;
